<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="{{ '/' | relative_url }}">
                    {{ site.title }}
                </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="{{ '/' | relative_url }}">Home</a>
            
            <!-- This will automatically list your pages -->
            {% assign pages_list = site.pages | sort:"title" %}
            {% for node in pages_list %}
                {% if node.title != null %}
                    {% if node.url != "/" %}
                        <a class="sidebar-nav-item" href="{{ node.url | relative_url }}">{{ node.title }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- New Projects Section -->
            <span class="sidebar-nav-item">Projects</span>
            {% for project in site.projects %}
              <a class="sidebar-nav-item project-nav-item" href="{{ project.url | relative_url }}">&nbsp;&nbsp;&nbsp;{{ project.title }}</a>
            {% endfor %}

           <a class="sidebar-nav-item" href="[https://github.com/](https://github.com/{{ site.github_username }})">GitHub</a>
        </nav>

        <p class="sidebar-footer">&copy; {{ 'now' | date: "%Y" }}. All rights reserved.</p>
    </div>
</div>
