<!-- FILE: _layouts/default.html -->
<!-- This is the main HTML scaffold for your entire site. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A personal site for projects, documentation, and thoughts on software development." />
    <meta name="keywords" content="Claes Adamsson, cladam, TBD, DevOps, tbdflow, medi, blog">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="c7yBT2wAbZMG9ON-mYwt-HndBlthrBo1mhsx-88Iw7M" />

    <title>{{ page.title }} - {{ site.title }}</title>

    <!-- Umami Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="6b6a0254-9e5f-4cf5-9ca8-eb306ada8f82"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ site.author.avatar }}">
    
    <!-- SEO and Social Media Meta Tags -->
    {% assign page_description = page.description | default: site.description %}
    {% assign page_image = page.image | default: site.social_preview_image %}
    <meta name="description" content="{{ page_description | strip_html | normalize_whitespace | truncate: 160 }}">
    <meta name="keywords" content="{{ site.keywords }}">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page_description | strip_html | normalize_whitespace | truncate: 160 }}">
    <meta property="og:image" content="{{ page_image | absolute_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
</head>
<body>
    {% include sidebar.html %}

    <div class="content container">
        {{ content }}
    </div>
</body>
</html>
