---
layout: default
---
<div class="tags-page">
  <h1>{{ page.title }}</h1>

  {% assign tags_list = site.tags | sort %}

  <div class="tag-cloud">
    {% for tag_item in tags_list %}
      {% assign tag_name = tag_item[0] %}
      <a href="#{{ tag_name | slugify }}">{{ tag_name }}</a>
    {% endfor %}
  </div>

  <hr>

  <div class="tag-list">
    {% for tag_item in tags_list %}
      {% assign tag_name = tag_item[0] %}
      {% assign posts_with_tag = tag_item[1] %}
      
      <h2 id="{{ tag_name | slugify }}">{{ tag_name }}</h2>
      <ul class="posts-for-tag">
        {% for post in posts_with_tag %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-date">- {{ post.date | date: "%B %d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

</div>
