---
layout: default
---
<div class="tags-page">
  <h1>{{ page.title }}</h1>
  <hr>

  <div class="tag-list">
    {% for tag in site.tags %}
      {% assign tag_name = tag[0] %}
      {% assign posts_with_tag = tag[1] %}
      
      <h2 id="{{ tag_name | slugify }}">{{ tag_name }}</h2>
      <ul class="posts-for-tag">
        {% for post in posts_with_tag %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-date">- {{ post.date | date: "%B %d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

</div>
